 @media screen and (min-width: 768px) {
.menu {
    display: flex;             
    padding:0;                         
}
.menu li {
    display: inline-block;
    padding: 20px ;
    list-style-type: none;
}
ul a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: black;
    font-weight: bolder;
    text-decoration:none;   
}
nav ol {
    padding: 3px;
}
.breadcrumbs li {
    display: inline-block;
    list-style-type: none;
}
ol a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: BLACK;
    font-weight: bolder;
    text-decoration:none ;  
    padding:0;  
}
a:hover{

    text-decoration: underline;
}
.breadcrumbs a:hover{
    text-decoration: underline;
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: black; 
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: rgb(2, 2, 2);
}
.carteproduit{
        display: flex; 
    }
.saving{
    color: rgb(12, 168, 12);
}

.carte{
        border:1px  black solid;
        padding: 15px;
        float: left;
        margin: 7px;
}
footer {
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(9, 164, 185);
    color: white;
  }
}