.menu nav{
    text-align: center;
    padding:0;

 }

 .logo{
    
    width: 150px;
    margin: auto;
  
 }
 .logo img
 {width: 100%;
}



.menu ul{
    justify-content: center;
    padding-left  : 0px;
    
}
ul{
   
    display: flex;
    list-style-type: none;
 
 }
 ul li {
    padding: 6px;
  
 }

 .menu ul li  a {
     font-family: Arial, Helvetica, sans-serif;
     font-size: 12px;
     color: black;
     font-weight: bolder;
     text-decoration:none
     
     
   
 }
 .breadcrumbs ol{
 padding-left  : 0px;
 }
 ol{
    display: flex;
    list-style-type: none;
  
 }
 ol li {
   
    padding: 6px;
 }
 .breadcrumbs ol li  a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: black;
    font-weight: bolder;
    text-decoration:none
    
  
}
.menu a:hover{
   
    text-decoration: underline;
}
.breadcrumbs a:hover{
    text-decoration: underline;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: black;

}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 9px;
    color: rgb(2, 2, 2);
}

.carte{
    border: 2px  solid black;

margin-bottom: 5px;
}

.carte img{
    width: 100%;
}
@media screen and (min-width: 768px) {
    .menu {
        display: flex;
       
    }
   
    .logo{
        margin: -10px;
    }
    .menu li {
        display: inline-block;
        padding: 20px ;
    }
    
    
    .menu ul li  a{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        color: black;
        font-weight: bolder;
        text-decoration:none  
    }
    .breadcrumbs li {
        display: inline-block;
        padding: 5px ;
       
    }
    
    .breadcrumbs ol li a{
        
        text-decoration:none ;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 20px;
        color: rgb(34, 31, 31);
        font-weight: bolder;
        
    }
     
    h1{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 20px;
        color: black;
    
    }
    p{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 15px;
        color: rgb(2, 2, 2);
    }
    
.carte{
    border: black solid;
    padding: 15px;
    float: left;
    margin: 7px;
}
.saving{
    color: rgb(12, 168, 12);
}

.cartes{
    display: flex; 
   
}

.cartes img{
    width : 200px; 
    height:200px;
}
    
  }